/* info menu */

.infomenu {
    z-index: 1;
    position:fixed;
    right: 0;
    top: 0;
    max-width: 100%;
    width: 400px;
    height: 100%;
    border-left: 4px solid black;

    background-color:var(--p8-grey);

    text-align:center;

    font-family: 'Aldrich', sans-serif;
}

.infomenu hr {
    border-style: solid;
    border-color: black;
    width: 80%;
}

/* close button */
.infomenu .infomenu-close {
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-radius: 0px;
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height:40px;
    font-size: 25px;
    font-weight: 700;
    background-color:var(--p8-white);
}

.infomenu .infomenu-close:hover {
    background-color: var(--p8-pink);
}

/* exit game button */
.infomenu .infomenu-exit {
    border: 4px solid black;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 700;
    background-color:var(--p8-white);
}

.infomenu .infomenu-exit:hover {
    background-color: var(--p8-pink);
}